button#backtop {
    display: block;
    position: fixed;
    right: 7%;
    bottom: 10%;
    border: 0;
    background-color: rgba(0,0,0,0);
    img {
        width: 3rem;
        height: 3rem;
    }
}
button#backtop:focus {
    outline: none;
}