.widget-wrap.tags-cloud {
    width: 70%;
    min-width: 700px;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 3rem;
    text-align: center;
    background-color: #fff;
    .widget.tagcloud.tags-cloud-canvas {
        margin-top: 2rem;
    }
}