.article-container {
    position: relative;
    width: 70%;
    min-width: 700px;
    height: 100%;
    margin: 0 auto;
    padding: 3rem;
    background-color: #ffffff;
    .title {
        font-size: 2rem;
        margin-left: 2rem;
    }
    .info {
        display: block;
        margin: .5rem 0 0 2rem;
        font-size: 1rem;
        color: #888;
    }
    .toc {
        width: 90%;
        margin: 0 5%;
        margin-top: 2rem;
        > ol.toc { 
            width: 100%;
            margin: 0;
            padding: 2rem 0;
            padding-left: 1rem;
            border-radius: 1rem;
            background-color: #dcdcdc;
            a {
                color: #218868;
                text-decoration: none;
            }
            a:hover {
                color: #EE5C42;
            }
            li.toc-item {
                margin-left: 1.5rem;
                list-style: none;
                line-height: 1.5;
                font-size: 1rem;
            }
            li.toc-item.toc-level-2 {
                margin-left: 1.5rem;
            }
            li.toc-item.toc-level-3 {
                margin-left: 2rem;
            }
            li.toc-item.toc-level-4 {
                margin-left: 3rem;
            }
            li.toc-item.toc-level-5 {
                margin-left: 4rem;
            }
            li.toc-item.toc-level-6 {
                margin-left: 5rem;
            }
        }
    }
    .content {
        line-height: 1.5;
        margin: 2rem auto;
        h1,h2,h3,h4,h5,h6 {
            margin: 0 0 0 2rem;
        }
        h1 {
            font-size: 1.6rem;
        }
        p {
            padding: 0 2rem;
            margin: 1rem 0 0 0;
            img {
                max-width: 100%;
                min-width: 60%;
                display: block;
                margin: 0 auto;
            }
        }
        ul {
            margin: 0 2rem 0 4rem;
            li {
                p {
                    margin: 0;
                    padding: 0;
                }
            }
        }
        ol {
            margin: 0 2rem 0 4rem;
            li {
                p {
                    margin: 0;
                    padding: 0;
                }
            }
        }
        code {
            background-color: orange;
            padding: 0 .5rem;
        }
        figure {
            margin: 0 2rem;
            background-color: grey;
            color: #ffffff;
            overflow-x: scroll;
        }
        a {
            color: #009966;
            text-decoration: none;
        }
        a:hover {
            color: orange;
        }
        blockquote {
            width: auto;
            height: auto;
            margin: .5rem 0;
            padding: .5rem 0;
            background-color: #fcfcfc;
            p {
                margin-top: 0;
            }
        }
        hr {
            width: 95%;
            margin: 2rem auto;
        }
    }
    .tags {}
    .paging {
        position: relative;
        margin-top: 1rem;
        a {
            text-decoration: none;
            color: #000;
            font-size: 1rem;
        }
        #prev {
            position: absolute;
            left: 1rem;
        }
        #next {
            position: absolute;
            right: 1rem;
        }
    }
}