.navbar {
    width: 75%;
    height: 100%;
    margin: 5rem auto;
    padding: 0;
    .logo {
        display: inline-block;
        margin-left: 2rem;
        font-size: 3rem;
        a {
            text-decoration: none;
            color: #000;
        }
    }
    ul#cate {
        display: inline-block;
        position: absolute;
        right: 15%;
        margin: 1rem 0 0 0;
        padding: 0;
        li {
            list-style: none;
            display: inline-block;
            margin: 0 0 0 2rem;
            padding: 0;
            a {
                text-decoration: none;
                color: #000000;
            }
        }
        li#logo {
            font-size: 2rem;
        }
    }
}