<div class="navbar">
    <div class="logo">
        <p><a href="/">Mint Forge</a></p>
    </div>
    <ul id="cate">
        <li><a href='/categories'>CATE</a></li>
        <li><a href="/tags">TAGS</a></li>
        <li><a href="/about">ABOUT</a></li>
    </ul>
</div>