<div class="navbar">
    <div class="logo">
        <p><a href="/"><%= theme.title.toUpperCase() %></a></p>
    </div>
    <ul id="cate">
        <li><a href='/categories'><%= __('navbar.cate').toUpperCase() %></a></li>
        <li><a href="/tags"><%= __('navbar.tags').toUpperCase() %></a></li>
        <li><a href="/about"><%= __('navbar.about').toUpperCase() %></a></li>
    </ul>
</div>