<div class="navbar">
    <div class="logo">
        <p><a href="/"><%= theme.title.toUpperCase() %></a></p>
    </div>  
</div>
<div class="cate">
    <ul>
        <li><a href="/">HOME</a></li>
        <li><a href='/categories'><%= __('navbar.cate').toUpperCase() %></a></li>
        <li><a href="/tags"><%= __('navbar.tags').toUpperCase() %></a></li>
        <li><a href="/about"><%= __('navbar.about').toUpperCase() %></a></li>
    </ul>
</div>