.index-card {
    width: 98%;
    margin: .5rem auto;
    padding: 1rem 0;
    background-color: #fff;
    font-size: 1.2rem;
    border-radius: .5rem;
    a {
        text-decoration: none;
        color: #000;
    }
    .info {
        margin: 0 1rem;
        .title {
            font-size: 1.5rem;
        }
        .divider {
            margin: .6rem 0 1rem 0;
        }
        .infos {
            color: #777;
            a {
                color: #777;
            }
            a:visited {
                color: #777;
            }
            .item {
                display: inline-block;
                font-size: .9rem;
                span#date,#author,#cate,#tags,#divider {
                    position: relative;
                    bottom: .05rem;
                }
            }
        }
        .excerpt {
            width: 99%;
            margin: .5rem auto;
            line-height: 1.5;
            font-weight: normal;
            strong {
                font-weight: normal;
            }
            ol,ul {
                margin-left: 1.5rem;
            }
        }
        .readmore {
            display: block;
            position: relative;
            left: .1rem;
            top: .2rem;
            a {
                color: blue;
            }
        }
    }
}
div.index-card:nth-child(2) {
    margin-top: 3.5rem;
}

/*temp*/
.pagination {
    display: block;
    text-align: center;
    margin: 2rem auto;
    .page-number {
        margin: 0 .5rem;
        font-size: 2rem;
    }
}